/* Fonts chosen using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Montserrat&display=swap');

/* Overall default css setup */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #EAE3EF;
    background-color: #030001;
}

/* colors */


/* Navbar and Logo */
.brand-logo {
    font-family: 'Holtwood One SC', serif;
    color: #EAE3EF;
    background-color: #030001;
    padding: 10px 0;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    margin-top: 0;
}

.nav-wrapper .brand-logo {
    padding-left: 5px;
    color: #EAE3EF;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    font-size: 32px;
}

.nav-wrapper .brand-logo:hover {
    color: #E89549;
}

#logo-icon {
    padding-left: 15px;
    padding-top: 3px;
    color: #EAE3EF;
}

.background-color {
    background-color: #030001;
}

ul li a {
    font-family: 'Montserrat', sans-serif;
    color: #EAE3EF;
    font-size: 16px;
}

ul li a:hover {
    color: #E89549;
}

.dropdown-content li a {
    color: #030001;
    padding: 14px 5px 0;
}

#sidenav-logo-icon {
    font-size: 24px;
}

#dropdown1 {
    background-color: #030001;
}

#dropdown1 a {
    color: #EAE3EF;
}

#dropdown1 a:hover {
    color: #E89549;
}

/* Side/Mobile Navbar */

#mobile-demo {
    background-color: #030001;
}

#mobile-demo a {
    color: #EAE3EF;
}

#mobile-demo a:hover {
    color: #E89549;
}

#mobile-demo a i {
    color: #EAE3EF;
    margin-right: 160px;
    font-size: 24px;
}

#mobile-demo a i:hover {
    color: #E89549;
}

#dropdown2 {
    background-color: #030001;
}

#dropdown2 a {
    color: #EAE3EF;
}

#dropdown2 a:hover {
    color: #E89549;
}

/* Hero Image with Subheader */

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center; 
    background-size: cover;
    min-height: 245px;
    width: 100%;
}

/* Subheader on all relevant pages */

.subheader-home {
    font-size: 24px;
    text-align: center;
    color: #d76848;
}

.subheader {
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    color: #d76848;
}

/* Profile template */

.collapsible-header .col .fa-film  {
    padding: 20px;
    line-height: 20px;
}

.add-new-film-link, .add-new-genre-link{
    padding-top: 20px;
}

.add-btn-text {
    color: #d76848;
    border-bottom: 2px solid #d76848;
    font-size: 16px;
}

.back-btn-text {
    color: #F8C149;
    font-size: 16px;
}

/* Homepage content */

.homepage-content {
    font-size: 16px;
    padding: 0 10px;
}

.homepage-stripline {
    font-size: 24px;
    padding-bottom: 12px;
}

/* Films template */



/* text and color changes */

#signup-text, #login-text, #add-film {
    color: #d76848;
}

.uppercase-text {
    text-transform: uppercase;
}

.info {
    color: #d76848;
    font-size: 10px;
}

.mini-message-link, .film-name {
    color: #030001;
}

.film-icon {
    color: #d76848;
}

.add_film_link {
    font-size: 30px;    
}

.form-text {
    color: #030001;
}

/* Add film template */

.select-wrapper input.select-dropdown {
    font-family: 'Montserrat', sans-serif;
    color: #9E9E9E;
}

.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
    font-family: 'Montserrat', sans-serif;
}

.select-dropdown li.disabled {
    font-size: 14px;
    background-color: #EAE3EF;
    color: #030001;
}

.dropdown-content li>span {
    font-size: 14px;
    background-color: #030001;
    color: #EAE3EF;
}

.dropdown-content li>span:hover {
    color: #d76848
}

.img_film {
    margin: 0;
    width: 50%;
    height: 50%;
}

.img_films {
    margin: 10px;
    width: 50%;
    height: 50%;
}

.line-break {
    border-bottom: 1px solid #d76848;
}

.add_film_text, .edit_film_text, .add_genre_text, .edit_genre_text, .select-wrapper input.select-dropdown  {
    color: #EAE3EF;
    font-size: 15px;
}



/* .input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label[genre_name] {
    color: #030001;
} */

/* Genres page */

.genre-card {
    background-color: #d76848;;
    border-radius: 10%;
}

.card .card-title {
    font-size: 20px;
}

/* Buttons */

.btn-small-genres {
    background-color: #030001;
    margin: 10px 5px;
}

.btn-small-genres:hover {
    background-color: #647737;
}

/* .btn-text-profile {
    background-color: #d76848;
    color: #EAE3EF;
} */

.btn-small-profile {
    margin: 10px 5px;
    background-color: #d76848;
    color: #EAE3EF;
}

.btn-small-profile:hover {
    background-color: #647737;
    color: #EAE3EF;
}

.btn-large {
    background-color: #D76848;
    color: #EAE3EF;
}

.btn-large:hover {
    background-color: #647737;
}

.button-padding {
    margin: 5px;
}

/* Search function */

.search-card {
    background-color: #030001;
}

#query {
    color: #EAE3EF;
}

.btn-small-search {
    background-color: #d76848;
    color: #EAE3EF;
    margin-left: 5px;
}

.btn-small-search:hover {
    background-color: #647737;
}

.info-search {
    color: #d76848;
    font-size: 10px;
    text-align: left;
    margin-left: 45px;
}

.no-results {
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    color: #F8C149;
}

/* flash messages */

.flash-messages {
    color: #F8C149;
    font-size: 24px;
    text-align: center;
    padding: 0px 5px 5px 0px;
}

@media screen and (min-width: 1440px) {
    .flash-messages {
        font-size: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .flash-messages {
        font-size: 40px;
    }
}

@media screen and (min-width: 1800px) {
    .flash-messages {
        font-size: 60px;
    }
}

@media screen and (min-width: 2400px) {
    .flash-messages {
        font-size: 80px;
        padding-top: 50px;
    }
}

/* Modals */

.modal-content, #modal-footer {
    background-color: #030001;
    border: #EAE3EF solid 1px;
}

.modal-text-title {
    font-size: 20px;
    color: #EAE3EF
}

.modal-close, #modal-link, .modal-film-name {
    color: #D76848;
}

/* Footer */

#footer-image {
    background: url("../images/popcorn.jpg") no-repeat center center; 
    background-size: contain;
    min-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.footer-text {
    color: #030001;
}

#lower-footer-background {
    background-color: #030001;
}

.lower-footer-text {
    color: #EAE3EF;
}

.background-footer {
    background-color: #E89549;
}

.footer-padding {
    padding-left: 10px;
    font-size: 16px;
}

#facebook:hover {
    color: #3c5998;
}

.footer-text-link:hover {
    color: #EAE3EF;
}

#instagram:hover {
    color: #bc3d7c;
}

#twitter:hover {
    color: #39a2f2;
}

#spotify:hover {
    color: #61d161;
}

#youtube:hover {
    color: #ed3833;
}

/* Media Queries */

/* Media query for logo icon positioning on mobile devices */
@media screen and (max-width: 600px) {
    #logo-icon {
        padding-top: 20px;
        padding-left: 20px;
    }
}

/* Media queries for hero image to stretch according to screen size */

@media screen and (min-width: 375px) {
    #hero-image {
        min-height: 300px;
    }
}

@media screen and (min-width: 425px) {
    #hero-image {
        min-height: 320px;
    }
}

@media screen and (min-width: 500px) {
    #hero-image {
        min-height: 350px;
    }
}

@media screen and (min-width: 530px) {
    #hero-image {
        min-height: 380px;
    }
}

@media screen and (min-width: 590px) {
    #hero-image {
        min-height: 420px;
    }
}

@media screen and (min-width: 640px) {
    #hero-image {
        min-height: 450px;
    }
}

@media screen and (min-width: 680px) {
    #hero-image {
        min-height: 480px;
    }
}

@media screen and (min-width: 700px) {
    #hero-image {
        min-height: 525px;
    }
}

@media screen and (min-width: 800px) {
    #hero-image {
        min-height: 580px;
    }
}

@media screen and (min-width: 880px) {
    #hero-image {
        min-height: 650px;
    }
}

@media screen and (min-width: 990px) {
    #hero-image {
        min-height: 700px;
    }
}

@media screen and (min-width: 1050px) {
    #hero-image {
        min-height: 750px;
    }
}

@media screen and (min-width: 1150px) {
    #hero-image {
        min-height: 800px;
    }
}

@media screen and (min-width: 1220px) {
    #hero-image {
        min-height: 850px;
    }
}

@media screen and (min-width: 1300px) {
    #hero-image {
        min-height: 920px;
    }
}

@media screen and (min-width: 1400px) {
    #hero-image {
        min-height: 1000px;
    }
}

@media screen and (min-width: 1500px) {
    #hero-image {
        min-height: 1050px;
    }
}

@media screen and (min-width: 1600px) {
    #hero-image {
        min-height: 1100px;
    }
}

@media screen and (min-width: 1660px) {
    #hero-image {
        min-height: 1150px;
    }
}

@media screen and (min-width: 1730px) {
    #hero-image {
        min-height: 1200px;
    }
}

@media screen and (min-width: 1800px) {
    #hero-image {
        min-height: 1250px;
    }
}

@media screen and (min-width: 1920px) {
    #hero-image {
        min-height: 1300px;
    }
}

@media screen and (min-width: 2000px) {
    #hero-image {
        min-height: 1350px;
    }
}

@media screen and (min-width: 2080px) {
    #hero-image {
        min-height: 1400px;
    }
}

@media screen and (min-width: 2120px) {
    #hero-image {
        min-height: 1450px;
    }
}

@media screen and (min-width: 2220px) {
    #hero-image {
        min-height: 1500px;
    }
}

@media screen and (min-width: 2280px) {
    #hero-image {
        min-height: 1550px;
    }
}

@media screen and (min-width: 2350px) {
    #hero-image {
        min-height: 1600px;
    }
}

@media screen and (min-width: 2400px) {
    #hero-image {
        min-height: 1700px;
    }
}

/* Media query for subheader */

@media screen and (min-width: 1440px) {
    .subheader {
        font-size: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .subheader {
        font-size: 30px;
    }
}

@media screen and (min-width: 1800px) {
    .subheader {
        font-size: 40px;
    }
}

@media screen and (min-width: 2400px) {
    .subheader, .subheader-home {
        font-size: 60px;
        padding-top: 50px;
    }
}

/* Media queries for search facility */

@media screen and (max-width: 350px) {
    .info-search {
        font-size: 8px;
    }
}

/* Media query for footer */
@media screen and (min-width: 2400px) {
    .homepage-content {
        font-size: 60px;
    }
}

/* Media queries for 320px max */


    






