/* Fonts chosen using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Montserrat&display=swap');

/* Overall default css setup */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #EAE3EF;
    background-color: #030001;
}

/* Navbar and Logo */
.brand-logo {
    font-family: 'Holtwood One SC', serif;
    color: #EAE3EF;
    background-color: #030001;
    padding: 10px 0;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    margin-top: 0;
}

.nav-wrapper .brand-logo {
    padding-left: 5px;
    color: #EAE3EF;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
    font-size: 32px;
}

.nav-wrapper .brand-logo:hover {
    color: #E89549;
}

#logo-icon {
    padding-left: 10px;
    padding-top: 1px;
    color: #EAE3EF;
}

.background-color {
    background-color: #030001;
}

ul li a {
    font-family: 'Montserrat', sans-serif;
    color: #EAE3EF;
}

ul li a:hover {
    color: #E89549;
}

.dropdown-content li a {
    color: #030001;
    padding: 14px 10px;
}

@media screen and (max-width: 600px) {
    #logo-icon {
        padding-top: 19px;
        padding-left: 20px;
    }
}

#sidenav-logo-icon {
    font-size: 24px;
}

/* Hero Image with Subheader */

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center; 
    background-size: contain;
    min-height: 290px;
    width: 100%;
}

.subheader {
    font-size: 28px;
    text-align: center;
    padding-bottom: 30px;
}

/* sections */

.section {
    background-color: #EAE3EF;
    color: #030001;
    font-size: 20px;
}

.signup {
    color: #d76848;
}

/* Footer */

.footer-text {
    color: #030001;
}

#lower-footer-background {
    background-color: #030001;
}

.lower-footer-text {
    color: #EAE3EF;
}

.background-footer {
    background-color: #E89549;
}

