{% extends "base.html" %}
{% block content %}

    <!-- Subheader text -->
    <section>
        <div class="row">
            <div class="col-12 md-6 subheader">Contact Us</div>
        </div>
    </section>
    <!-- Card Panel from Materialize -->
    <section>
        <div class="row">
            <!-- Contact form -->
            <form onsubmit="return sendMail(this);" class="col s12 m8 offset-m2" method="POST" action="{{ url_for('contact_us') }}">
                <div class="card-panel">
                    <!-- First Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-arrow-right prefix form-text"></i>
                            <input id="firstname" name="firstname" type="text" minlength="1" maxlength="100" pattern="^[a-zA-Z]{1,100}$" class="validate" required>
                            <label for="firstname">First Name</label>
                            <p class="info">Only letters between 1-100 characters</p>
                          </div>
                    </div>
                    <!-- Last Name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-arrow-right prefix form-text"></i>
                            <input id="lastname" name="lastname" type="text" minlength="1" maxlength="100" pattern="^[a-zA-Z]{1,100}$" class="validate" required>
                            <label for="lastname">Last Name</label>
                            <p class="info">Only letters between 1-100 characters</p>
                          </div>
                    </div>
                    <!-- Email -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-at prefix form-text"></i>
                            <input id="email" name="email" type="email" minlength="5" maxlength="100" class="validate" required>
                            <label for="email">Email Address</label>
                            <p class="info">Maximum 100 characters</p>
                          </div>
                    </div>
                     <!-- Message -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pen prefix form-text"></i>
                            <textarea id="message" name="message" type="text" minlength="10" maxlength="500"
                            class="validate materialize-textarea" required></textarea>
                            <label for="message">Message</label>
                            <p class="info">Minimum 10 and Maximum 500 characters</p>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <div class="row">
                        <!-- Modal Trigger -->
                        <button type="submit" class="col s12 btn-large large-button btn-text modal-trigger">Submit <i class="fas fa-sign-in-alt"></i></button>
                    </div>
                    {% if session.user %}
                    {% else %}
                        <!-- For registered users to login -->
                        <div class="row">
                            <div class="col s12">
                                <p class="center-align mini-message-link">
                                    Already have an account?
                                    <a href="{{ url_for('login') }}" id="login-text">Login Here </a>!
                                </p>
                            </div>
                        </div>
                        <!-- For new users to signup -->
                        <div class="row">
                            <div class="col s12">
                                <p class="center-align mini-message-link">
                                    New here?
                                    <a href="{{ url_for('signup') }}" id="signup-text">Sign Up </a>!
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </form>
            <!-- Modal Structure -->
            <div id="modal" class="modal">
                <div class="modal-content">
                    <p class="modal-text-message center-align">Thank you for your message. If you haven't already signed up to FilmZone, give it a go by <a href="{{ url_for('signup') }}" id="modal-link">clicking here</a>.</p>
                </div>
                <div class="modal-footer center-align" id="modal-footer">
                    <a href="{{ url_for('contact_us') }}" class="modal-close btn-flat" id="closing-btn">Close</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}