{% extends "base.html" %}
{% block content %}

    <!-- Subheader text -->
    <section>
        <div class="row">
            <div class="col-12 md-6 subheader">Edit Film</div>
        </div>
    </section>
    <!-- Edit a Film using a form from Materialize -->
    <section>
        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_film', film_id=film._id) }}">
                <!-- Choose from a list of Genres via a for loop inside Jinja code -->
                <div class="row">
                    <div class="input-field col s12 edit_film_text">
                        <i class="far fa-arrow-alt-circle-right prefix"></i>
                        <select id="genre_name" name="genre_name" class="validate" required>
                            <option value="" disabled>Choose Genre</option>
                            {% for genre in genres %}
                                {% if genre.genre_name == film.genre_name %}
                                    <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                                {% else %}
                                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="genre_name">Genre Name</label>
                    </div>
                </div>
                <!-- Edit film name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-film prefix"></i> 
                        <input id="film_name" name="film_name" minlength="1" maxlength="30" 
                            value="{{ film.film_name }}" type="text" class="validate edit_film_text" required>
                        <label for="film_name">Film Name</label>
                        <p class="info">Maximum 30 characters</p>
                    </div>
                </div>
                <!-- Edit Actor names from film being added -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-star prefix"></i>
                        <input id="actors" name="actors" minlength="1" maxlength="40" 
                        value="{{ film.actors }}" type="text" class="validate edit_film_text" required> 
                        <label for="actors">Actors</label>
                        <p class="info">Maximum 40 characters</p>
                    </div>
                </div>
                <!-- Edit Best bit/favourite scene from the film being added -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-thumbs-up prefix"></i>
                        <textarea id="best_bit" name="best_bit" minlength="1" maxlength="30"
                        class="validate materialize-textarea edit_film_text" required>{{ film.best_bit }}</textarea>
                        <label for="best_bit">Best Bit</label>
                        <p class="info">Maximum 30 characters</p>
                    </div>
                </div>
                <!-- Edit Film Image (optional) -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix"></i>
                        <input id="image" name="image" type="url" pattern="https?://.+" value="{{ film.image }}"
                        class="validate edit_film_text">
                        <label for="image">Image URL</label>
                        <span class="helper-text" data-error="enter valid URL" data-success="right"></span>
                        <p class="info">Enter valid URL starting with https://</p>
                    </div>
                </div>
                <div class="row center-align">
                    <!-- Submit button to Edit a film already added -->
                    <div class="col s12"></div>
                    <button type="submit" class="btn-large btn-text button-padding">Edit Film <i class="far fa-edit right"></i></button>
                    <!-- Cancel Edit and return to user profile -->
                    <div class="col s12"></div>
                    <a aria-label="Jump to your Profile page" href="{{ url_for('profile', username=session['user']) }}" class="btn-large btn-text button-padding cancel-btn">Cancel<i class="far fa-times-circle right"></i></a>
                </div>
            </form>
        </div>
    </section>,

{% endblock %}