{% extends "base.html" %}
{% block content %}
     
    <!-- Subheader text -->
    <section>
        <div class="row">
            <h2 class="col-12 subheader">Films</h2>
        </div>
        <!-- Search facility for users to find a film quickly -->
        <div class="row card-panel search-card">
            <form action="{{ url_for('search') }}" method="post" class="col s12 m8 offset-m2">
                <div class="row center-align">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" minlength="1" class="validate" required>
                        <label for="query">Find a Film</label>
                        <p class="info-search">Search by film name, actor name or genre type</p>
                    </div>
                    <div class="col s12">
                        <button type="submit" class="btn btn-small-search">
                            <i class="fas fa-search left"></i> Search
                        </button>
                        <a aria-label="Jump to the Films page" href="{{ url_for('films') }}" class="btn btn-small-search-reset">Reset</a>
                    </div>
                    <div class="col-6 m6 s12 right"><a aria-label="Jump to the Add Films page" href="{{ url_for('add_film') }}" class="add-btn-text">Add New Film <i class="fas fa-plus-circle add-new-film-link"></i></a></div>
                </div>
            </form>
        </div>
    </section>
    <!-- Films section for all users to view on mobile and tablet -->
    {% if films|length > 0 %}
    <section>
        <div class="row center-align show-on-small hide-on-med-and-up">
            <!-- Jinja templating language -->
            <!-- for loop to iterate through the films from MongoDB --> 
            {% for film in films %}
                <div class="col s12">
                    <h4 class="films-name">{{ film.film_name }}</h4>
                    <div class="genre-name">Genre: {{ film.genre_name }}</div><br>
                    <div class="actors">Actors:<hr>{{ film.actors }}</div><br>
                    <div class="best-bit">My Best Bit:<hr>{{ film.best_bit }}</div><br>
                    <div class="image-size"><img class="img-films-mobile" src="{{ film.image }}" alt="film image"></div>
                    <div class="line-break container margin"></div>
                    <br> 
                    <div class="created-by">Added by: {{ film.created_by }}</div>
                    <br>
                    <div class="line-break container"></div>
                </div>
            {% endfor %}    
        </div>
    </section>
    <!-- Message only appears if a search has no results for the user -->
    {% else %}
        <div class="col-12 no-results">No Film Found</div>
    <br>
    {% endif %}
    <!-- Films section for all users to view on bigger screen sizes -->
    {% if films|length > 0 %}
    <section>
        <div class="row center-align hide-on-small-only">
            <!-- Jinja templating language -->
            <!-- for loop to iterate through the films from MongoDB --> 
            {% for film in films %}
                <div class="col m6">
                    <h4 class="films-name">{{ film.film_name }}</h4>
                    <div class="genre-name">Genre: <span>{{ film.genre_name }}</span></div><br>
                    <div class="actors">Actors:<hr><span class="actors">{{ film.actors }}</span></div><br>
                    <div class="best-bit">My Best Bit:<hr><span class="best-bit">{{ film.best_bit }}</span></div><br>
                    <div><img class="image-size img-films-desktop" src="{{ film.image }}" alt="film image"></div>
                    <div class="line-break container"></div>
                    <br> 
                    <div class="created-by">Added by: {{ film.created_by }}</div>
                    <br>
                    <div class="line-break container"></div>
                </div>
            {% endfor %}    
        </div>
    </section>
    {% else %}
    {% endif %}

{% endblock %}




