{% extends "base.html" %}
{% block content %}
    <section>
        <div class="row">
            <div class="col-12 md-6 subheader">We all love a good film !</div>
            <div class="col-12">
                <div id="hero-image" aria-labelledby="hero-image"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <p class="container col-12 md-6 center-align">If you love firms you’re on the right site. Take a look at other FilmZone members recommendations and in turn add your own favourite films by signing up for free. </p>
        </div> 
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <p class="col-12 center-align section uppercase-text">add your favourite films - <span><a href="{{ url_for('signup') }}" id="signup-text">Signup</a></span>!</p>
            </div>
        </div>

    </section>

    <section>
        <!-- Search Bar -->
    </section>

{% endblock %}