{% extends "base.html" %}
{% block content %}
    <section>
        <div class="row">
            <div class="col-12">
                <h2 class="col-12 subheader">Welcome to FilmZone</h2>
                <div id="hero-image" aria-labelledby="hero-image"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-12 subheader-home">We all love a good film !</div>
            <br>
            {% if session.user %}
                <p class="container-fluid col-12 md-6 center-align homepage-content">Welcome back, seen any new films that's worth adding to FilmZone ?</p>
            {% else %}
                <p class="container-fluid col-12 md-6 center-align homepage-content">If you love films you’re in the right place. Take a look at the <a class="films" aria-label="Jump to the Films page" href="{{ url_for('films') }}">Films</a> section and see what our current FilmZone members are recommneding. At FilmZone you can add your own favourite films by signing up for free. </p>
            {% endif %}
        </div> 
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                {% if session.user %}
                    <p class="col-12 center-align homepage-stripline uppercase-text">add your favourite films - <a aria-label="Jump to the Add Films page" href="{{ url_for('add_film') }}" id="add-film">Add Film</a> !</p>
                {% else %}
                    <p class="col-12 center-align homepage-stripline uppercase-text">add your favourite films - <a aria-label="Jump to the Signup page" href="{{ url_for('signup') }}" id="signup-text">Signup</a> !</p>
                {% endif %}
            </div>
        </div>
    </section>
    <section>
        <!-- Search Bar -->
        <!-- Carousel ?? -->
    </section>

{% endblock %}