{% extends "base.html" %}
{% block content %}

    <!-- Subheader text -->
    <section>
        <div class="row">
            <h2 class="col-12 md-6 subheader">Login !</h2>
        </div>
    </section>
    <!-- Card Panel from Materialize -->
    <section>
        <div class="row">
            <!-- Login form -->
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
                <div class="card-panel">
                    <!-- Username -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-cog prefix form-text"></i>
                            <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Username</label>
                            <p class="info">Only alpha-numeric usernames between 5-15 characters</p>
                          </div>
                    </div>
                    <!-- Password -->
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="fas fa-user-lock prefix form-text"></i>
                          <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                          <label for="password">Password</label>
                          <p class="info">Only alpha-numeric passwords between 5-15 characters</p>
                        </div>
                    </div>
                    <!-- Login button -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large large-button btn-text">Login <i class="fas fa-sign-in-alt"></i></button>
                    </div>
                    <!-- Signup link -->
                    <div class="row">
                        <div class="col s12">
                            <p class="center-align mini-message-link">
                                New here?
                                <a aria-label="Jump to the Signup page" href="{{ url_for('signup') }}" id="signup-text">Signup </a>!
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}