{% extends "base.html" %}
{% block content %}

    <!-- Subheader text -->
    <section>
        <div class="row container">
            <div class="col-6 md-6 s12 subheader">{{ username }}'s Films</div>
            <div class="col-6 md-6 s12 right"><a href="{{ url_for('add_film') }}" class="add-btn-text">Add New Film <i class="fas fa-plus-circle add-new-film-link"></i></a></div>
        </div>
    </section>
    <!-- Card Panel from Materialize -->
    <section>
        <div class="row">
            <div class="col m8 s12 offset-m2">
                <ul class="collapsible">
                    <!-- Jinja templating language -->
                    <!-- for loop to iterate through the films from MongoDB -->
                    {% for film in user_films %}
                    <li>
                        <div class="collapsible-header film-name">
                            <div class="col s8">
                                <i class="fas fa-film film-icon"></i>
                                {{ film.film_name }}
                            </div>
                            <div class="col s4">
                                <a class="btn-small">Edit</a>
                                <a class="btn-small">Done</a>
                            </div>
                        </div>
                        <div class="collapsible-body center-align">
                            <p>Genre: {{ film.genre_name }}</p><br>
                            <p>Actors: {{ film.actors }}</p><br>
                            <p>Best Bit: {{ film.best_bit }}</p><br>
                            <img class="img_film center-align" src="{{ film.image }}" alt="film image"><br> 
                            <iframe class="film_clip center-align" src="{{ film.media_clip }}" width="400" height="300" title="Film Clip" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" alt="Media Clip" aria-label="Media clip of {{ film.film_name }}" allowfullscreen></iframe>
                            <p>Created by: {{ film.created_by }}</p>
                        </div>
                    </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
    </section>

{% endblock %}