{% extends "base.html" %}
{% block content %}

    <!-- Subheader text -->
    <section>
        <div class="row container">
            <div class="col-12 profile-subheader">{{ username }}'s Films</div>
            <div class="col-12 profile-subheader">Add Film</div>
        </div>
    </section>
    <!-- Card Panel from Materialize -->
    <section>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header film-name">
                            <i class="fas fa-film film-icon"></i>
                        </div>
                        <div class="collapsible-body">
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}